@import "bootstrap-sprockets";
@import "bootstrap";
@import "albums";

body {
  padding-top: 20px;
  background-image: url('bg.jpg');
  background-position: top center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.logo {
  margin: 215px 0 10px 0;
}

.logo-min {
  margin: 0 15px 0 5px;
}

.top-nav{
  height: 60px;
  ul.nav.navbar-nav {
    li {
      a{
        line-height: 28px;
        color:#428bca;
      }
    }
  }
}